* {
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  font-size: 16px;
}

button {
  border: 0;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.gameContainer {
  position: relative;
}

.battleContainer {
  display: flex;
  position: absolute;
  background-color: white;
  height: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px solid black;
}

.battleActivation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
}

.attacksDiv {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.attackTypeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  border-left: 4px solid black;
}
